RewriteEngine On

# Error Documents
ErrorDocument 400 /errors/400.php
ErrorDocument 401 /errors/401.php
ErrorDocument 403 /errors/403.php
ErrorDocument 404 /errors/404.php
ErrorDocument 405 /errors/405.php
ErrorDocument 500 /errors/500.php
ErrorDocument 502 /errors/502.php
ErrorDocument 503 /errors/503.php
ErrorDocument 504 /errors/504.php
ErrorDocument 406 /errors/406.php
ErrorDocument 407 /errors/407.php
ErrorDocument 408 /errors/408.php
ErrorDocument 409 /errors/409.php
ErrorDocument 410 /errors/410.php
ErrorDocument 411 /errors/411.php
ErrorDocument 412 /errors/412.php
ErrorDocument 413 /errors/413.php
ErrorDocument 414 /errors/414.php
ErrorDocument 415 /errors/415.php

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?page=$1 [L,QSA]
